<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./board.css" />

    <title>LeaderBoard</title>
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="texting text-white font-weight-bold">
          <h3>LEADERBOARD</h3>
        </div>
      </div>

      <div>
        <table class="table table-bordered" style="width: 100%;">
          <colgroup>
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 60%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 10%;" />
          </colgroup>

          <tbody class="text-center">
            <tr>
              <th scope="row">Serial Number</th>
              <td>Usernames</td>
              <td>Points</td>
              <td>
                Share
              </td>
            </tr>
            <tr class="table-primary">
              <th class="text-white bg-dark" scope="row">001</th>
              <td class="text-center font-weight-bold">Messi</td>
              <td class="text-white bg-dark">1000</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr class="table-success">
              <th class="text-white bg-dark" scope="row">002</th>
              <td class="text-center font-weight-bold">Ronaldo</td>
              <td class="text-white bg-dark">900</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr class="table-warning">
              <th class="text-white bg-dark" scope="row">003</th>
              <td class="text-center font-weight-bold">Neymar</td>
              <td class="text-white bg-dark">800</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">004</th>
              <td class="text-center font-weight-bold">Hazard</td>
              <td class="text-white bg-dark">700</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">005</th>
              <td class="text-center font-weight-bold">Salah</td>
              <td class="text-white bg-dark">600</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">006</th>
              <td class="text-center font-weight-bold">Pogba</td>
              <td class="text-white bg-dark">500</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">007</th>
              <td class="text-center font-weight-bold">Ibrahimovic</td>
              <td class="text-white bg-dark">400</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">008</th>
              <td class="text-center font-weight-bold">Mbappe</td>
              <td class="text-white bg-dark">300</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">009</th>
              <td class="text-center font-weight-bold">Modric</td>
              <td class="text-white bg-dark">200</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
            <tr>
              <th class="text-white bg-dark" scope="row">010</th>
              <td class="text-center font-weight-bold">Mane</td>
              <td class="text-white bg-dark">100</td>
              <td>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="longbtn text-center">Full LeaderBoard</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
