<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<table>
{% if data %}

    <thead>
        <tr>
            <th>S/N</th>
            <th>UserName</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for v in data %}
        <tr>
            {% for k in v.values %}

                <td>{{ k }}</td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>
{% endblock %}

</body>
</html>