<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    td, th { border: 1px solid #CCC; }
    table {border: 1px solid black; }
    </style>
</head>
<body>
{% block content %}
<table>
{% if data %}

    <thead>
        <tr>
            <th>S/N</th>
            <th>UserName</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for v in data %}
        <tr>
            {% for k in v.values %}

                <td>{{ k }}</td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>
{% endblock %}

</body>
</html>